body.page-template-academy-tv {


	.table-align {
		padding: 0;

		.td img {
			max-width: none;
		}
	}

}


.thumb-itm {
	margin-bottom: 20px;

	a {
		color: $primary-color;
		&:hover {
			color: #000;
		}	
	}
}
