.btn {
text-decoration: none;
border-radius:3px;

@extend .transition; 

 padding: 15px;
 border:none;
 min-width:200px;
 @extend .primary-font;
	 &:hover {
	 	cursor: pointer;
	 }
	text-transform: uppercase;
	font-size: .8em!important;
	letter-spacing: .2em;

	&:active {
		margin-top:2px;
	}
}
 
 .btn-sm {
 	padding: 7px 5px;
 }


.btn-primary {
	background-color: $primary-color;
	color:#fff;
	&:hover,
	&:active,
	&:focus,
	 {
		background-color:darken($primary-color,20%)!IMPORTANT;
		
		
	}

	
} 

.btn-large {
	 padding: 20px 25px;
}

.btn-secondary{
	background-color: $secondary-color;
	color: #FFF;
	&:hover,
	&:active,
	&:focus,
	{
		background:darken($secondary-color,20%);
		
	}
	
	
	
	
}