.page-template-fees {

	.table-align.course-listing-itm .td {
	    padding: 20px;
	}


	.enrol-section {
		border-top: none;
	}
	
		.table-align {
			padding: 0	
		}

		.table-align .td:first-child {
			@media (max-width: 991px) {
			margin-bottom:0;
			}
		}

		article.course-listing-itm {
			@media (max-width: 991px) {
			margin-bottom: 40px;
			}
		}



.special-offer {

	.table-align td {
	padding: 0;
	}

	.table-align.left-img .td:first-child {
	width: 50%;
}

.table-align .td img {
	@media (max-width:991px) {
	margin-bottom: 0;
	margin-top: 40px;
	}
}

	
}


	.course-listing-itm {
		h3 {
			color: $primary-color;
		}

		@media (max-width:991px) {
		border-bottom: none;
		}
	}

	.secondary-bg {
	background:  $light-beige;
	padding: 24px  20px 22px;
	margin-top: 20px;
	@extend .primary-font;
	text-align: center;
	@extend .transition;

		@media (max-width:991px) {
			max-width: none;
			margin: 20px auto;
		}

			p, span {
				font-family: inherit;
			}

			.price {
				color: $primary-color;
			}

			.full-price {
				font-size: 2em;
				
			}
	}


}


.fees-window.grav-form-wrap.enrol-section h2.title {
	line-height: 1.9em;  


	@media all and (min-width:200px) and (max-width:410px) {
	font-size: 1.2em;
	}
	
	
}

.course-listing-itm { 
padding: 20px;
	display: block;

	@extend .transition;

	&:hover {
		cursor: pointer;
	}

	&:hover .secondary-bg {
	background: $primary-color;	
	}

	

	&:hover .secondary-bg > *,
	&:hover .secondary-bg span  {
	
		color: #fff!important;
	}

}