

#footer {
	background: $primary-color url(../images/custom/footer-tile.gif) top left repeat-x;
	padding-top: 70px;
	border-top:none;

	@media (max-width:767px) {
		background-color: $primary-color;
		background-image:none;
		padding-top: 40px;
		
	}

	.gform_wrapper {
		margin-bottom: 30px;
		overflow: hidden;
	}


	p, 
	a {
		color:#fff;
	}

	p {
		margin-bottom:20px;
	}

	.border-top {
		border-color:#FFF;
		margin: 0 0 0 0;
	}

	h2 {
		background-color: $primary-color;
		padding: 0 20px;

		margin-top: 0;
		margin-bottom:0;
		display: inline-block;
		width: auto;
		font-size: .8em;
		text-transform: uppercase;
		color: #fff;
		position: relative;
		top: -33px;
		left: -20px;
		

		@media (max-width:786px) {
		display: block;
		text-align:left;
		top: 0;
		position: relative;
		float: none;
		margin: 0 0 20px;
		}
	}

		.form-inline {
			padding-bottom: 10px;

			margin-bottom:20px;

			li#field_4_6 {
				width: 49%;
				float: left;
			}


			li#field_4_7 {
				width: 49%;
				float: right;
			}



			li#field_4_5 {
				width: 100%;
				margin: 12px 0 12px;

				@media (max-width:1010px) {
					width: 100%;
				}
			} 

			input[type="text"] {

				width: 100%;
				font-size:.8em;
				
				float: left;
				@extend .primary-font;
				text-transform: none;
				background-color: #EA7C60;
				color: #fff;

				padding: 0 20px;
				border: none;
				height: 50px;
				@include border-radius (3px);


				@extend .transition;
				@include input-placeholder {
				color: #fff;
				}

				@media (max-width:991px) {
					width:100%;
				}

				&::placeholder {
					color:#fff;
				}

			

			

				&:focus {
					background-color:#fff;
					color:#222;
					text-transform: none;
				}

				

			}
			

			input[type="submit"]  { 
			width: 38%;
			@include box-shadow(0);
			border-radius:3px;
			@extend .transition;
			float: right;
			background-color: #f8f3ea;
			color: $primary-color;
			@extend .primary-font;
			@extend .letter-spacing;
			max-width: none;
			font-size:.8em; 
		    padding: 0;
		    margin: 0;
		    text-shadow: none;
		

			@media (max-width:895px) {
				margin-top: 20px;

			}

			&:hover,
			&:focus {
			background-color:darken($primary-color,30%);
			color:#fff;
			}

			@media (max-width:991px) {
					width:100%;
					margin-bottom: 30px;
					margin-top: 0;

				}


		


			}

		}


	#copyrights {
		background-color:  $secondary-color;
		height: 55px;
		padding: 0;
		line-height: 55px;
	

		

		
			ul {

				padding: 0;
				margin:0;
					li {
						display: inline;
						float: left;
						list-style-type: none;
						margin:0 10px 0 0; 
					}

					a {
						color: #333;
					}
				}
		
		

	}
	
}