body {
height: 100%
}


.section.container {
	@extend .container;
}
// MODAL

.col-xs-6 {
	@media (max-width:400px) {
	width: 100%!important;
	}
}
.modal-content {
    border-radius: 0;
}

.modal-header {
    padding: 20px;
    border-bottom: none;
}

.modal-body {
	padding-top: 0;
}

.profile-img {
	border-radius:5px;
}

.profile-item {
	button {
		border: none;
		background: none;
		width: 100%;
		display: block; 
		&:hover {
			cursor: pointer;
		}
	}
}

.modal-content {
	.profile-img {
		display: block;
		margin: 0 auto 20px;
		@include border-radius(50%);
	}
}


.zerotopmargin {
	margin-top: -40px;
}

.dark span[class^="icon-"] {
	color: #fff;
	font-size: 1.2em;
}

.gform_validation_container {
	display: none
}

.no-label > label {
display: none
}

 .primary-font  {
 	font-family: 'Montserrat', sans-serif;
 	text-transform: uppercase;
 }

.section {
	padding: 60px 0;
	position: relative;
	width: 100%;
	background:none;
	margin:20px 0;
}

.border-top {
	border-top: 4px solid $secondary-color;

	.table-align {
		margin-bottom:30px;
	}
 }

.transition {
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

 .table-align {
	display: table;
	width: 100%;
	padding: 0 50px;
	

	table-layout: fixed;
	position:relative;

	@media (max-width:991px) {
				width: 100%;
				display: block;
				padding:0;
			}

	.td {
		vertical-align: middle;
		position:relative;
		display: table-cell;
		
		float:none;
			p:last-child {
			margin-bottom:0;
			}
			
		@media (max-width:991px) {
display: block;
			padding-left:15px;
		padding-right:15px;
				width: 100%!important;
				text-align:center;


				> * {
					text-align: center!important;
				}
		}
		
		&:first-child {
		
			

			@media (max-width:991px) {
				width: 100%!IMPORTANT;
				display: block;
				margin-bottom: 30px;
			}
		}

		img {
			
			width: 100%;
			height: auto;
			max-width: 	315px; 
			float:right;

			@media (max-width:991px) {
				margin-bottom:20px!important;
				float:none;
			}
		}
	}
}



.table-align.right-img {
		padding: 0;
		width: 100%;

		.td {
		

			&:last-child {
				width:30%;
				

				img {
					padding-left:30px;
					max-width:400px;
					margin:0;

					@media (max-width:890px) {
						margin:0 auto;
						padding: 0;
					}
				}
			}
		}



	}



.table-align.left-img {
		padding: 0;
		width: 100%;

		.td {
		
			

			&:first-child {
				width:30%;
				

				img {
					padding-right:30px;
					max-width:320px;
					margin:0;

					@media (max-width:890px) {
						margin:0 auto;
						padding-right:0;
					}




				}
			}
		}



	}




.fbox-center {

	h3 {
		font-size: 1em;
		margin-bottom:0;
		letter-spacing:.2em;
		@extend .primary-font;
		padding-top:0!important;
		color:#000;

		span {
		font-size: 1.5em;
		}
	}




	img {
		width: 100%;
		height: auto;
		max-width: 200px;
	}
	text-align: center;
	text-transform: uppercase;
	
	
}

.profile-item{
	margin:0 0 20px;


	@media all and (min-width:200px) and (max-width:991px) {
	margin-bottom: 40px;
	}
	
	

	p {
	@media all and (min-width:200px) and (max-width:991px) {
	max-width: 320px;
	margin: 0 auto;
	}
		
		
	}
}



.pagination {
    float: left;
    width: 100%;
    padding: 0 15px;
 
}


.page-numbers.current {
    color: #FFF !important;
    background-color: $primary-color !important;
    border-color: $primary-color !important;
}

.page-numbers {
      position: relative;
    float: left;
    padding: 12px 20px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #333;
    background-color: #e6ddce;
    border: 1px solid #e6ddce;
    margin-left: 10px;
    font-size: 12px;
    @include border-radius(3px);
	 @extend .primary-font;
	 text-transform: uppercase;

    &:hover {
    	background-color: $primary-color;
    	color: #fff;
    }

    &:first-child {
    	margin-left: 0;
    }
    
}

.no-padding {
	padding: 0!important
}

// COLUMNS

.column-3 {
    @include columns(20em 3);
    padding-left: 15px;
    padding-right: 15px;
    
   @media (max-width:900px) {
         @include columns(25em 2);
    }
}

.column-2{
    @include columns(20em 2);
    padding-left: 15px;
    padding-right: 15px;
    
    @media (max-width:600px) {
         @include columns(100% 1);
    }
}


.column-4{
    @include columns(15em 4);
    padding-left: 15px;
    padding-right: 15px;
    
    @media (max-width:1100px) {
         @include columns(25em 2);
    }
}


img.center {
	display: block;
	margin: 0 auto;
}

// @media all and (min-width:200px) and (max-width:767px) {
// 	.table-align.left-img .td:first-child img,
// 	.content img {
// 	max-width: 250px!IMPORTANT;
// 	margin: 0 auto;
// 	text-align: center;
// 	}

// 	.student-showcase img {
// 		max-width: 100%!important;

// 	}

//   }



.download-brochure {

	#field_11_10 {
	padding: 30px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid $secondary-color;

		> label {
			display: block;
			margin-bottom: 20px;
		}


	}

	.gchoice_11_5_1 {
		width: 100% !important;
		margin-top: 10px;
	}

	

	.content .gform_wrapper ul li.input-full ul.gfield_checkbox {
		@include display-flex();
-js-display: flex;
		@include display-flex;
		@include flex-direction(row);
		@include flex-wrap(wrap);
		margin-top: 0;

		li {
			width: 33%;
		}
	}
		


}


.download-itm {

display: block;

	@media all and (min-width:200px) and (max-width:550px) {
		width: 100%;
		clear: both;
	
	  }
	
	
	margin-bottom: 30px;

	img {
		max-width: 220px;
	}

	.icon-acrobat {
		color: #fff;
	}
}