// VARIABLE + MIXINS

 $primary-color:#f0856a;
 $secondary-color: #e6ddce;
 $tertiary-color: #e6ddce;
 $light-beige: #EFE8DE;
 $black: #000;

$grey:#424242;
$light-grey:#DFDFDF;
$lighter-grey: #f7f7f7; 

section.light-beige-bg {
	background-color: #f6f4ea;
}



 .primary-font  {
 	font-family: 'Montserrat', sans-serif;
 	text-transform: uppercase;
 }

 

.body-copy {
	font-family: 'Arimo', sans-serif;
}

.secondary-color {
	color:$secondary-color;
}

.letter-spacing {
	letter-spacing:.2em;
}

.underline {
	text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
}

@mixin easy-image($img) {
	background-image:image-url($img);
	max-width: image-width($img);
	width: 100%;
	height: image-height($img);
}

.transition {
-webkit-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
}