
.woocommerce .table.table-striped td,
.woocommerce table.shop_table td
.woocommerce .table  td,
.woocommerce span {
	font-size: 14px;
	font-weight: normal;
}

ul.woocommerce-error  li {
background-image: none !important
} 


body fieldset {
	border: none;
}

#add_payment_method #payment ul.payment_methods li, 
.woocommerce-checkout #payment ul.payment_methods li {
	padding: 0;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	@extend .btn;
	line-height: 0;
}

.woocommerce .woocommerce-message .button.wc-forward,
.woocommerce .cart .button, 
.woocommerce .cart input.button,
.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order  {
    max-width: 300px;
    line-height: 40px;
    height: 40px;
    padding: 0;
}

.woocommerce .product-price {
    font-size: 14px;
}

#add_payment_method #payment div.payment_box:before, 
.woocommerce-checkout #payment div.payment_box:before  {
	display: none
}

#add_payment_method #payment ul.payment_methods li, 
.woocommerce-checkout #payment ul.payment_methods li {
	background: none;
}
 .woocommerce a.button {
 	padding: 0
 }


.woocommerce-page.single-product .contact-form-wrap {
  background: #a0c2de;
}

.woocommerce.single-product #enrolmentWrap select {
	max-width:none;
}
	.woocommerce {
 
		h1 {
	
		margin: 20px 0 30px 0;
		} 

		
		.table.table-striped td, 
		.table.table-striped td p, 
		.table.table-striped td strong, 
		table.shop_table td, 
		table.shop_table th, 
		#order_review p, 
		.woocommerce-info, 
		.woocommerce-error li,
		.woocommerce-info li, 
		.woocommerce-message li,
		p, 
		li,
		a, 
		span {
			@extend .body-copy;
		}

		h1 {
		
			margin: 20px 0 30px 0;
		}
		
		h3 {
			
		}

		 form .form-row label.checkbox {
		 	line-height: 12px;
		 }



		 div.product p.price, .woocommerce div.product span.price {
		 	color: #000;
		
		 }	

		.other-payment {
			margin-bottom: 20px
		}

		div.product .product_title {
		text-transform: none;
		
		}

		.panel-group .panel {
		  margin-bottom: 0;
		  overflow: hidden;
		  border-radius: 0;
		  border:none;
		}


		.panel-heading {
		  border-top-left-radius: 0;
		  border-top-right-radius: 0;
		  border:none;
		  padding:15px 20px;
		}

		.reset_variations {
			  float: left;
		  width: 100%;
		  margin: 15px 0 5px;
		  display: block;
		}



.woocommerce-message {

	.button.wc-forward {

			max-width: 300px;

		@media all and (min-width:220px) and (max-width:479px) {
			width: 100%;
			clear:both;
			float: left;

		
		  }
		}

	}	

td.product-name dl.variation dd {
padding: 0;
margin-bottom: 0;
}
    
    .table > thead > tr > th {
        border: none;
    }

    .table-striped > tbody > tr:nth-child(odd) > td, 
    .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: transparent;
    }

    table.shop_table {
    border-radius: 0;
    border:1px solid rgba(0,0,0,.1);
    background: #fff;
    }

    .shop_table.cart thead th {
    height: 60px;
    text-transform:uppercase;
    background: $primary-color;
    padding: 0 20px;
    vertical-align:middle;
    color: #fff;
    @extend .body-copy;
 
    }



}







.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button {
  float: right;
  width: 50%;

  @media all and (min-width:200px) and (max-width:479px) {
  	width:100%;
  	margin:0 0 10px;
  	float:left;
  	display:block;
  }

}



.woocommerce .woocommerce-message {
  border: 3px solid $primary-color;
  background-color: lighten($primary-color,57%);

}

.woocommerce .woocommerce-message:before {
  color: $primary-color;
}


.single-product.woocommerce #content   {

		> .container {
			margin-top: 0;
		}


		h2 {
			margin-top: 0;
			text-transform: none;
		}

	 div.product div.summary.entry-summary  {
	 	width: 100%
	 }

	  div.product p.price, 
	  div.product span.price {
		color: #000;
	
		}

		#payment-container {
			// Form Elems
			select {
			background: #dbdbdb;
			width: 40%;
			box-shadow: none;
			padding: 10px;
			border: none;
			height:50px;
			}

			input,
			input[type="password"],
			input[type="email"],
			input[type="number"]{
			width: 100%;
			height: 49px;
			float: left;
			padding: 14px 12px;
			}
		}

		.reset_variations {
			width: 100%;
			float: left;
			margin: 10px 0 10px;
		}		

		.table-striped > tbody > tr:nth-child(odd) > td, 
		.table-striped > tbody > tr:nth-child(odd) > th {
		background-color: transparent;
		}


}

td.label {
	display: none;
}


.single-product {

	label[for="billing-period"] {
		display: none
	}


#tab-container {
	margin-top: -50px;
	
}

	.contact-form-wrap  {
		display: block;
		margin-top: 0;
	}
}




// TABLE CSS

.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child th,
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child td,
.woocommerce-cart .cart-collaterals .cart_totals tr td, 
.woocommerce-cart .cart-collaterals .cart_totals tr th {
padding: 10px;
background: #fff;
font-weight: normal;

}

.woocommerce table.shop_table.customer_details tbody:first-child tr:first-child th {
background-color: #fff;
color: #222;
}

.payment_box p,
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-cvc, 
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-expiry, 
.woocommerce-checkout #payment div.payment_box .wc-credit-card-form-card-number
 {

}


.woocommerce input.button.alt {
background-color: $primary-color;
		&:hover {
		background-color: darken($primary-color,10%);
		}
}



.shop_table.cart {
    width:100%;
    text-align:left
}






.woocommerce .cart-collaterals .cart_totals .shop_table.cart.al-total th {
    width:50%;
    padding:10px 15px;
    background:#fff;
    border-bottom:2px solid #fff;
    font-family:Montserrat,sans-serif;
    font-weight:700;
    text-transform:uppercase;
  
}



.woocommerce-page div.product form.cart .button {
    margin-top:10px;
    border-radius:0;
    background-color:$primary-color;
    height:40px;
    @extend .primary-font;
    height: 51px;
	
	max-width:400px;


    &:hover {
    	background:darken($primary-color,10%);
    }
}


.woocommerce div.product form.cart .variations {
margin-bottom: 0;
border: 0;
}

.single-product.woocommerce #content div.product p.price, 
.single-product.woocommerce #content div.product span.price{
	
	margin-top:20px;
}

.single_variation_wrap  .price{
	float: left;
	width: 100%;
	margin: 0 0 15px;
	float:left;
	width:100%;
	@extend .body-copy;
	
}

.single-product.woocommerce #content .reset_variations {
	display: none
}


.woocommerce-cart table.cart input {
@extend .body-copy;
}

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
border-radius: 0;
}



.input-text,
.woocommerce form .form-row select {
height: 49px;
border: none;
padding:0 10px;
}

// CART TABLE



.coupon {
    width: 330px;
}

.woocommerce-cart table.cart img {
display: none;
}



// CHECKOUT TABLE 

.woocommerce form .form-row label {
line-height: 2;

@extend .body-copy;
}

.woocommerce form .form-row {
margin: 0 0 0px;
}

.woocommerce form .form-row-first, 
.woocommerce form .form-row-last, 
.woocommerce-page form .form-row-first, 
.woocommerce-page form .form-row-last {
float: left;
width: 49%;
overflow: visible;
}
.woocommerce-page form .form-row-last,
.woocommerce form .form-row-last {
    float: right;
}

.woocommerce table.shop_table thead tr:first-child  th {

    background-color: $primary-color;
    text-transform: none;
    color: #fff;
    font-weight: normal;
      @extend .primary-font;

}

.woocommerce table.shop_table tfoot th {
    font-weight: normal;
}

.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea, 
.woocommerce form .form-row select,
.woocommerce form .form-row label {

}


#field_1_7 > label {
		display: none;
	}


input[type="checkbox"] {
    width: 18px;
    height: 18px;
    padding: 0;
    margin:0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    *overflow: hidden;

    + label {
    display: block;
    padding-left: 25px;
    text-indent: -15px;
    @extend .body-copy;
	}
}


.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.large-button, 
input[type="submit"],
button[type="submit"], 
.page .woocommerce-cart .wc-proceed-to-checkout a.checkout-button,	
 {

@extend .btn;
margin: 0 0;

@media (max-width:680px) {
	max-width:none;
	width: 100%;
}


}

small, .small {

width: 100%;
float: left;
display:block;
margin-bottom:10px;
}

.woocommerce.single div.product form.cart div.quantity {
}

@media (max-width: 767px) {
	table.cart .quantity .qty {
	border: 0;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	max-width: 48px;
	}
}





// SINGLE PAGE COURSE

.page-template-course-detail-page {

	.payment-ctas {
float: left;
width: 100%;
	overflow: hidden;
	height: 100%;

	}

	#enrolmentWrap {
		display:none; 
	}

	@media all and (max-width:992px)  {
		.group.col-md-4 {
		margin-bottom: 15px;
	}

	}

}

.woocommerce  select {
	width: 100%;
height: 49px;
float: left;
border: none;
background: $light-grey;
max-width:400px;
padding:0 10px;
}



#google_language_translator {
	display: none;
}



.woocommerce-page {




			input[type="submit"] {
				max-width: none;
			}

			input[name="update_cart"] {
						max-width:212px;
					}




			

// CART TABLE
				
				@media only screen and (max-width: 760px),
				(min-device-width: 768px) and (max-device-width: 1024px)  {

					/* Force table to not be like tables anymore */
					table.shop_table.cart.table {
						display: block;
					}

					
}
					/*
					Label the data
					*/
				.shop_table.cart.table  {



	@media only screen and (max-width: 760px),
				(min-device-width: 768px) and (max-device-width: 1024px)  {

					/* Force table to not be like tables anymore */
				thead, tbody, th, td, tr {
						display: block;
					}


					/* Hide table headers (but not display: none;, for accessibility) */
					thead tr {
						position: absolute;
						top: -9999px;
						left: -9999px;
					}

					tr { border: 1px solid #ccc; }

					td {
						/* Behave  like a "row" */
						border: none;
						border-bottom: 1px solid #eee;
						position: relative;
						padding-left: 50%;
					}

					td:before {
						/* Now like a table header */
						position: absolute;
						/* Top/left values mimic padding */
						top: 6px;
						left: 6px;
						width: 45%;
						padding-right: 10px;
						white-space: nowrap;
					}

					  	
					 input[type="submit"]{
					 	width: 100%
					 }

								td:nth-of-type(1):before { content: "Remove"; }
								
								td:nth-of-type(3):before { content: "Course"; }
								td:nth-of-type(4):before { content: "Price"; }
								td:nth-of-type(5):before { content: "Quantity"; }
								 td:nth-of-type(6):before { content: "Total"; }
						
								 td.actions:nth-of-type(1):before { content: ""; }
								// td:nth-of-type(7):before { content: "Date of Birth"; }
								// td:nth-of-type(8):before { content: "Dream Vacation City"; }
								// td:nth-of-type(9):before { content: "GPA"; }
								// td:nth-of-type(10):before { content: "Arbitrary Data"; }
							}

				}



				/* Smartphones (portrait and landscape) ----------- */
				@media only screen
				and (min-device-width : 320px)
				and (max-device-width : 480px) {
					body {
						padding: 0;
						margin: 0;
						width: 320px; }


		


					}

				/* iPads (portrait and landscape) ----------- */
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
					body {
						width: 495px;
					}
				}



	}


//CHECKOUT PAGE MOBILE

	@media all and (max-width:400px) {






			.woocommerce-page #payment #place_order {
					
					width: 100%;
				}

				.woocommerce form .form-row label.checkbox, 
				.woocommerce-page form .form-row label.checkbox {
				
				}

	}




@media all and (max-width:767px) {
				.woocommerce form .form-row-first, 
				.woocommerce form .form-row-last, 
				.woocommerce-page form .form-row-first, 
				.woocommerce-page form .form-row-last {
				width: 100%;

				}

		}

		.select2-container .select2-choice>.select2-chosen {
			
			height:49px;
			line-height:49px;
			}


.woocommerce table.shop_table th, address
 {
font-weight: 700;
padding: 13px 12px;
}

.woocommerce .table-striped > tbody > tr:nth-child(odd) > td, 
.woocommerce .table-striped > tbody > tr:nth-child(odd) > th {
background-color: #fff;
color:#222;
}



.woocommerce table.shop_table th {
	@extend .body-copy;
	font-weight: normal; 
}

// RECEIPT PAGE

.woocommerce .order_details  {
	background: #fff;
	margin-top:30px;

	li {
	background: #fff;
	padding: 20px;
	}

}





.woocommerce table.shop_table {


		th[scope="row"]  {
			background-color: #fff;
			color:#222;
			text-transform: none;
		}

}

.woocommerce table.shop_table tbody:first-child tr:first-child th {
	background-color: $primary-color;
	color: #fff;
}
.woocommerce table.shop_table tbody th, 
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th {
font-weight: normal;
}

	



	@media all and (max-width:767px) {

		.woocommerce .order_details {

			padding-left: 0;

					 li {
						padding: 20px;
						width: 100%;
						border: none;
						text-align: center;
						padding: 10px;
						border-top:1px dashed #d3ced2;

						&:last-of-type {
						border-top:1px dashed #d3ced2;
						}


						}
						
						
						&:first-child, {
							border-top:none;
						}



			}

	}


// SINGLE PRODUCT CSS
.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message,
.variations_form,
.woocommerce-cart table.cart td, 
.woocommerce-cart table.cart th,
.table,
.table-striped ,
.woocommerce table.shop_table td{
	@extend .body-copy;
}


li.widget_text_icl  {
	list-style:none
}


@media (max-width: 767px) {

	table.cart .quantity {
    display: inline;
   margin: 0;
    float: none;
}

}


.single-product.woocommerce #content div.product p.price, 
.single-product.woocommerce #content div.product span.price {

  margin-top: 0;
}


.single-product.woocommerce #content .container > h2 {
	margin: 40px 0 40px
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	max-width: none;
	font-weight: normal;
	background-color: $primary-color;

	color:#fff;
	float:right;
	clear:both;
	&:hover {
		background: darken($primary-color, 16%)
	}
}

h2, .h2 {
  text-transform: uppercase;
}

.shop_table  th,
.woocommerce .cart .button, 
.woocommerce .cart input.button {
	 @extend .primary-font;
}

.woocommerce .table-striped > tbody > tr > td {

}

.coupon input[type="submit"] {
	width: 73%		
}

tr.cart_item > td {
		vertical-align: top;
	}

	.table.table-striped  td,
	.table.table-striped  td  p,
	.table.table-striped  td  strong ,
	.woocommerce table.shop_table td,
	.woocommerce table.shop_table th,
	#order_review p ,
	.woocommerce-info,
	.woocommerce .woocommerce-error li, .woocommerce .woocommerce-info li, .woocommerce .woocommerce-message li{
		
	}

	
	.woocommerce-page .contact-form-wrap {
		background: transparent;
		padding: 0;
		margin-bottom:40px;
	}

	.table a,
	.showcoupon {
	@extend .underline
	}


.woocommerce-cart table.cart td.actions .coupon .input-text {
height: 45px
}




.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea, 
.woocommerce form .form-row select,  
.select2-container .select2-choice

 {
   border: 2px solid #eee;
  background-color: white;
  height: 49px;

}


.woocommerce form .form-row textarea {
	height:90px;
}

.woocommerce #payment #place_order, 
.woocommerce-page #payment #place_order {
	min-width:350px;
	float:left;
	@extend .primary-font;
	@include border-radius(3px);
	height: 50px;
	line-height: 50px;
}

.select2-drop-active {
  border: none;
  border-top: none;
  @extend .primary-font;
}

.woocommerce-checkout #payment,
ul.order_details,
 {
  border-radius: 0;
  border: 3px solid $primary-color;
  background:transparent;
  padding:20px;
  margin-bottom:40px;
}


#manual-payment {
  border-radius: 0;
  border: 3px solid $light-grey;
  background:transparent;
  padding:20px;
  margin-bottom:40px;

  h4 {
  	@extend .body-copy;

  }



  .panel-group {
  	margin-bottom: 0;
  }
}





#customer_details {
	margin-bottom: 40px
}

.woocommerce-checkout #payment div.payment_box {
  background-color: $lighter-grey;
  width: 100%;
}

.woocommerce-checkout #payment div.payment_box:after {
  content: "";
  display: block;
  border: 8px solid $lighter-grey;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -3px;
  left: 0;
  margin: -1em 0 0 2em;
}

.woocommerce table.shop_table th {
  padding: 13px 18px;
}
.woocommerce-checkout {
	.container.content {
		margin-bottom: 0;
	}

}

.order-total {
	background-color:  $lighter-grey;

}

.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th,
.woocommerce .table-striped > tbody > tr.order-total > td, 
.woocommerce .table-striped > tbody > tr.order-total > th
  {
border-top: none;
background-color:  $lighter-grey;
}


.woocommerce table.shop_table {
	//border-bottom:1px solid $light-grey;
}
.woocommerce {
	.button.wc-backward {
		max-width:350px;
	}
}



.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child th, 
.woocommerce-cart .cart-collaterals .cart_totals table tr:first-child td, 
.woocommerce-cart .cart-collaterals .cart_totals tr td, 
.woocommerce-cart .cart-collaterals .cart_totals tr th {
	padding: 20px;
}

.product-name a {
	@extend .body-copy
}




.thick-border {
	border:3px solid $light-grey
}

.shop_table.shop_table_responsive.customer_details,
{
@extend .thick-border
}

.woocommerce .table-striped > tbody > tr:nth-child(odd) > td, 
.woocommerce .table-striped > tbody > tr:nth-child(odd) > th,
.woocommerce table.shop_table tfoot td, 
.woocommerce table.shop_table tfoot th, 
.woocommerce .table-striped > tbody > tr.order-total > td, {
 color: #222;
  border-top: 1px solid #ddd;
}




@media all and (min-width:200px) and (max-width:991px) {


		.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
		  max-width: none;
		  float: left;
		}

		.woocommerce #payment .terms, 
		.woocommerce-page #payment .terms {
		  padding: 0 0;
		  margin-top: 10px;
		  float: right;
		}

  }

.single-product.woocommerce-page div.product div.summary {
	width: 100%;
	float: left;
	display:none;
}

.woocommerce-cart .cart-collaterals .cart_totals table {
	border: 2px solid #ddd;
}



.single-product div.product {
  margin-bottom: 0;
  position: relative;
 
}


.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
  background-color: darken($primary-color,20%);
  color: #fff;
}



.lightbox-modal .row .profile-detail h2 {


		clear: both;
	

	
	
}


.woocommerce table.shop_table td {
padding: 16px;
}



div.woocommerce th span {
	color: #fff;
}
div.woocommerce address {
	font-size: 14px;
}

div.woocommerce table.my_account_orders .order-actions .button,
div.woocommerce a.button {
    line-height: 1em;
    padding: 16px 0;
}

body.my-account p {
    font-size: 14px;
}


.checkout {

	.woocommerce form .form-row label.checkbox {
	    padding-left: 0;
	}


	.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	    clear: both;
	    margin: 30px 0 0 0;
	}

}